.scooter {
    &_cell {
        border-bottom: unset;

        &_wrap {
            display: grid;
            grid-template-columns: 1fr 500px;
        }

        &_descr {
            padding: 16px 24px;
            display: flex;
            flex-direction: column;

            &_title {
                font-size: 24px;
            }

            &_buttons {
                margin-top: auto;
                display: flex;
                justify-content: space-between;
            }
        }

        &_map {
            height: 300px;
            width: 100%;
        }
    }
}