.map {
    position: relative;
    height: 100vh;

    &_radio_wrap {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 12px;
        background: var(--bgWhite);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
        min-width: 704px;
    }

    &_radio_button:not(:first-child) {
        margin-left: 20px;
    }

    &_selected {
        position: absolute;
        right: 52px;
        top: 52px;
        background: var(--bgWhite);
        color: var(--first);
        min-width: 232px;

        &_status {
            margin-top: 10px;
        }
    }
}